<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation Session Smoke Suite" parallel="classes" thread-count="1">
	<listeners>
    <listener class-name="Utils.RetryListener" />
    

  </listeners>
  <test  name="New USer Creation Test Cases">
	  
    <groups>
            <run>
              
                <include name="regression"/>
            </run>
        </groups>
        <classes>
      <class name="com.Api.RestAssured.Practice.Demo.SecondClass"/>
      <class name="com.Api.RestAssured.Practice.Demo.FirstClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
